<!--  Uncomment to redirect (doesn't play well with pcIBEX)
<head>
  <meta http-equiv="refresh" content="5; URL=https://app.prolific.co/submissions/complete?cc=6FC1C7F8" />
</head>
-->
<body>
  <p>Thank you for completing the experiment! Please click or copy the following url to be redirected to Prolific: <br><br> <a href="https://app.prolific.co/submissions/complete?cc=6FC1C7F8">https://app.prolific.co/submissions/complete?cc=6FC1C7F8</a>.</p>
</body>